/*
OneFloor-PHP v1.0 :: Sistema Base para iniciar tus proyectos en PHP

Sistema base para iniciar tus proyectos en PHP, con la finalidad de facilitar la creacion de aplicaciones apartir de
esta plantilla que pretende ser el primer esclaron para la creacion de proyectos, basandose en la lectura de modulos
pre-programados por ti mismo y carga automatica de estos modulos que tu mismo proporciones.
Este codigo fuente queda reservado a los Derechos de Autor Copyright para SIE-Group con su respectiva Licencia. De modo 
que cualquier alteracion, uso ilegal o publicacion debe ser tal cual esta, conservando los derechos del mismo.

Autor: Angel Cantu Jauregui
Nick: Diabliyo
Web: http://www.sie-group.net/
Blog: http://elite-mexicana.blogspot.com/
Foro: http://foro.sie-group.net/
E-mail: darkdiabliyo@gmail.com

Licencia CreativeCommons
Tipo: Attribution-Noncommercial 2.5 Mexico (http://creativecommons.org/licenses/by-nc/2.5/mx/)
URL de la Licencia: http://creativecommons.org/licenses/by-nc/2.5/mx/
*/

/*
#f5f5dc	cafe claro
#808080	gris oscuro
#f8f8ff	azul bajito
#a9cf46	verde caca
#eb268f	rosa mexicano
#00afff	azul chido
#efefef	gris bajito
#d8d8d8	gris oscuro 2
#f4f4f4	gris bajito 2
#939393	gris oscuro 2
#1293ce	azul chido 2
#413339	casi negro
#a49708	cafe caki
#84cef8	azul bajo
#e327a9 morado chido

-- moneybox colores ---
#036286 --> azul raro
#959595 --> gris bajito
#ebebeb --> gris mas bajito
#efefef --> gris masmas bajito
#413339 --> gris fuerte (casi negro)
*/

@font-face{font-family:'awesome';src:url('../font/awesome.ttf') format('truetype'), url('../font/awesome.otf') format('opentype'), url('../font/awesome.eot');}
@font-face{font-family:'helvetica';src:url('../font/helvetic.ttf') format('truetype'), url('../font/helvetic.otf') format('opentype'), url('../font/helvetic.eot');}

BODY{margin:auto;padding:0px;text-align:center;font:12px awesome;}
div{margin:auto;padding:0px;}
p{margin:auto;padding:0px;}
a{margin:auto;padding:0px;}
a:link{margin:auto;padding:0px;text-decoration:none;}
h1,h2,h3,h4{margin:auto;padding:0px;}
ul{margin:auto;padding:0px;list-style:none;}
li{margin:auto;padding:0px;}
input{margin:auto;padding:0px;outline:none;}
select{margin:auto;padding:0px;outline:none;}
textarea{margin:auto;padding:0px;outline:none;}

.azul {background:#27a9e3;}
.verde {background:#28b779;}
.amarillo {background:#ffb848;}
.naranja {background:#da542e;}
.rosa {background:#f74d4d;}
.azulm {background:#2255a4;}

.sprite{background:url(../imagenes/sprite.png) no-repeat;}
.logo{width:68px;height:66px;background-position:-0px -434px;}
.home{width:32px;height:22px;background-position:-0px -0px;}
.lupa{width:32px;height:22px;background-position:-32px -0px;}
.carita{width:32px;height:22px;background-position:-64px -0px;}
.phone{width:32px;height:22px;background-position:-96px -0px;}
.doc{width:32px;height:22px;background-position:-128px -0px;}
.user{width:32px;height:22px;background-position:-160px -0px;}
.dinero{width:32px;height:22px;background-position:-192px -0px;}
.clip{width:32px;height:22px;background-position:-224px -0px;}
.plus{width:32px;height:22px;background-position:-256px -0px;}
.power{width:32px;height:22px;background-position:-288px -0px;}
.print{width:32px;height:22px;background-position:-320px -0px;}
.tacha{width:32px;height:22px;background-position:-352px -0px;}
.plusbox{width:32px;height:22px;background-position:-384px -0px;}
.flechabox{width:32px;height:22px;background-position:-416px -0px;}
.grupo{width:32px;height:22px;background-position:-448px -0px;}
.inbox{width:32px;height:22px;background-position:-0px -22px;}
.lista{width:32px;height:22px;background-position:-32px -22px;}
.candado{width:32px;height:22px;background-position:-64px -22px;}
.globo{width:32px;height:22px;background-position:-96px -22px;}
.papeles{width:32px;height:22px;background-position:-128px -22px;}
.ok{width:32px;height:22px;background-position:-160px -22px;}
.camion{width:32px;height:22px;background-position:-192px -22px;}
.carta{width:32px;height:22px;background-position:-224px -22px;}
.signo{width:32px;height:22px;background-position:-256px -22px;}
.bicho{width:32px;height:22px;background-position:-288px -22px;}
.okbox{width:32px;height:22px;background-position:-320px -22px;}
.flecha_r{width:32px;height:22px;background-position:-352px -22px;}
.flecha_l{width:32px;height:22px;background-position:-384px -22px;}
.engrane{width:32px;height:22px;background-position:-416px -22px;}
.globo_vacio{width:32px;height:22px;background-position:-488px -22px;}
.nube{width:32px;height:22px;background-position:-0px -44px;}
.salir{width:32px;height:22px;background-position:-32px -44px;}

/*botones*/
.boton{font-size:15px;margin-top:20px;color:#ffffff;padding:13px 20px;opacity:0.8;filter:alpha(opacity=80);}
.boton:hover{cursor:pointer;opacity:1;filter:alpha(opacity=100);}
#boton{float:right;font-size:20px;color:#ffffff;padding:15px 20px;margin:30px 10px 0px 0px;opacity:0.8;filter:alpha(opacity=80);}
#boton:hover{cursor:pointer;opacity:1;filter:alpha(opacity=100);}
#boton .b1{position:absolute;z-index:10;}
#boton .b2{position:absolute;z-index:11;}
#boton .txt{position:relative;z-index:12;margin:auto;padding:0px;}
#boton2{float:right;font-size:20px;background:#e17656;color:#ffffff;padding:15px 20px;margin:30px 10px 0px 0px;opacity:0.8;filter:alpha(opacity=80);}
#boton2:hover{cursor:pointer;opacity:1;filter:alpha(opacity=100);}
#boton3{float:right;font-size:20px;padding:15px 20px;margin:30px 10px 0px 0px;background:#56b8e9;color:#ffffff;opacity:0.8;filter:alpha(opacity=80);}
#boton3:hover{cursor:pointer;opacity:1;filter:alpha(opacity=100);}
#boton4{float:right;font-size:20px;padding:15px 20px;margin:30px 10px 0px 0px;background:#ffb848;color:#ffffff;opacity:0.8;filter:alpha(opacity=80);}
#boton4:hover{cursor:pointer;opacity:1;filter:alpha(opacity=100);}
#boton5{float:right;font-size:12px;padding:5px 10px;margin:5px;opacity:0.8;filter:alpha(opacity=80);}
#boton5:hover{cursor:pointer;opacity:1;filter:alpha(opacity=100);}
#boton_camposextra{float:left;font-size:13px;padding:15px 20px;margin:30px 10px 0px 10px;background:#ffb848;color:#ffffff;opacity:0.8;filter:alpha(opacity=80);
	border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;-ms-border-radius:10px;}
#boton_camposextra:hover{cursor:pointer;opacity:1;filter:alpha(opacity=100);
	box-shadow:0px 0px 3px #000000;-moz-box-shadow:0px 0px 3px #000000;-webkit-box-shadow:0px 0px 3px #000000;-o-box-shadow:0px 0px 3px #000000;-ms-box-shadow:0px 0px 3px #000000;}
#botonsito{float:right;padding:5px;
	border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;-ms-border-radius:10px;}
#botonsito:hover{box-shadow:0px 0px 3px #000000;-moz-box-shadow:0px 0px 3px #000000;-webkit-box-shadow:0px 0px 3px #000000;-o-box-shadow:0px 0px 3px #000000;-ms-box-shadow:0px 0px 3px #000000;}
#boton_e{padding:12px 10px 10px 10px;color:#ffffff;font-size:14px;}

/*Login*/
#login_box{width:500px;height:300px;margin-top:150px;font-family:awesome;}
#login_box .login_logo{float:left;width:198px;height:300px;border:solid 0px #cccccc;border-right-width:1px;}
#login_box .login_logo img{width:170px;margin-top:50px;}
#login_box .login_inputs{float:left;width:280px;height:300px;padding-left:20px;}
#login_box .login_inputs .txt{float:left;width:280px;text-align:left;margin-bottom:30px;margin-top:40px;}
#login_box .login_inputs input{padding:10px;}
#login_box .login_inputs .boton{width:50%;}

#menusadmin_list{float:left;width:100%;margin-top:20px;margin-bottom:35px;}
#menusadmin_list h1{font-size:15px;font-weight:bold;border:solid 0px #cccccc;border-bottom-width:2px;padding-bottom:5px;margin-bottom:15px;}
#menusadmin_list ul{list-style:none;}
#menusadmin_list li{margin-left:20px;}

#main{width:100%;text-align:center;}

#main #centro{text-align:left;float:left;width:1100px;height:auto;background:#ffffff;padding-bottom:20px;}

#main #menu {width:100%;float:left;background:#27a9e3;margin-bottom:20px;padding:5px 0px 5px 0px;}
#main #menu .version_info{float:right;font-weight:bold;font-size:10px;font-weight:bold;color:#ffffff;margin-top:1%;margin-right:5px;}
#main #menu .menu_big{float:left;
	transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
#main #menu .menu_big ul{list-style:none;}
#main #menu .menu_big li{float:left;padding:10px;text-transform:uppercase;font-weight:bold;color:#ffffff;}
#main #menu .menu_big li a{text-decoration:none;color:#ffffff;}
#main #menu .menu_movil{float:left;display:none;
	transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
#main #menu .menu_movil .minilista{display:none;float:left;position:absolute;text-align:left;background:#27a9e3;}
#main #menu .menu_movil:hover .minilista{display:block;}
#main #menu .menu_movil .minilista li{padding:5px 10px 5px 10px;}
#main #menu .menu_movil .minilista li a{color:#ffffff;}
#main #menu .menu_movil .minilista li:hover{color:#000000;}
#main #menu .menu_movil .minilista li:hover a{color:#000000;}


/*MENUS*/
#main #col_01{float:left;width:45%;}
#main #col_02{float:right;width:45%;}
#main #col_02 #tabla_lista_02{float:left;width:100%;margin-top:20px;}
#main #col_02 #tabla_lista_02 ul{}
#main #col_02 #tabla_lista_02 li{float:left;width:70%;margin-bottom:10px;}
#main #col_02 #tabla_lista_02 li input{width:86%;outline:none;padding:2%;}
#main #col_02 #tabla_lista_02 li input[type=checkbox] {width:5%;}
#main #col_02 #tabla_lista_02 li select{width:86%;outline:none;padding:2%;}
#main #col_02 #tabla_lista_02 .titulo{width:98%;margin-bottom:5px;padding:1% 0px 5px 2%;background:#a9cf46;color:#413339;}
#main #col_02 #tabla_lista_02 .txt{width:25%;padding:1% 0px 0px 5%;}
#main #col_02 #tabla_lista_02 .sub{width:100%;text-align:right;padding:12px 0px 12px 0px;}
#main #col_02 #tabla_lista_02 .boton_01{width:30%;}

/*NOTICIAS*/
#main #centro #tabla_areatrabajo{float:left;width:100%;height:auto;}
#main #centro #tabla_noticias_01{float:left;width:100%;}
#main #centro #tabla_noticias_01 #tabla_lista_01{float:left;width:100%;margin-top:20px;}
#main #centro #tabla_noticias_01 #tabla_lista_01 ul{}
#main #centro #tabla_noticias_01 #tabla_lista_01 li{float:left;padding:5px 0px 5px 1%;}
#main #centro #tabla_noticias_01 #tabla_lista_01 .titulo{width:49%;}
#main #centro #tabla_noticias_01 #tabla_lista_01 .controles{width:19%;}
#main #centro #tabla_noticias_01 #tabla_lista_01 .fecha{width:14%;}
#main #centro #tabla_noticias_01 #tabla_lista_01 .autor{width:14%;}
#main #centro #tabla_noticias_01 #formulario_noticia{float:left;width:100%;height:auto;}
#main #centro #tabla_noticias_01 #formulario_noticia ul{float:left;width:100%;height:auto;}
#main #centro #tabla_noticias_01 #formulario_noticia li{float:left;width:98%;padding:1% 1% 0% 1%;text-align:left;}
#main #centro #tabla_noticias_01 #formulario_noticia input{float:left;padding:10px;width:500px;}
#main #centro #tabla_noticias_01 #formulario_noticia textarea{float:left;padding:10px;width:720px;height:300px;}
#main #centro #tabla_noticias_01 #formulario_noticia .mini{width:78%;}
#main #centro #tabla_noticias_01 #formulario_noticia .txt{width:18%;text-align:left;}
#main #centro #tabla_noticias_01 #formulario_noticia .marco{float:left;padding:2px;margin:10px;border:solid 1px #cccccc;width:60%;}

#main #centro #tabla_publicidad{float:left;width:100%;}
#main #centro #tabla_publicidad #tabla_publicidad_area{}
#main #centro #tabla_publicidad #tabla_publicidad_controles{float:left;width:30%;}
#main #centro #tabla_publicidad #tabla_publicidad_lista{float:left;width:70%;}
#main #centro #tabla_publicidad #tabla_publicidad_lista #uploads_publicidad{}
#main #centro #tabla_publicidad #tabla_publicidad_lista #uploads_publicidad form{float:left;width:98%;height:auto;padding:1%;background:#f4f4f4;}
#main #centro #tabla_publicidad #tabla_publicidad_lista #uploads_publicidad #upload{margin:20px;width:100%;padding:0px;}
#main #centro #tabla_publicidad #tabla_publicidad_lista #uploads_publicidad iframe{width:0px;height:0px;border:none;}
#main #centro #tabla_publicidad #tabla_publicidad_lista #uploads_publicidad #lista_uploads{}
#main #centro #tabla_publicidad #tabla_publicidad_lista #uploads_publicidad ul{float:left;margin-top:12px;}
#main #centro #tabla_publicidad #tabla_publicidad_lista #uploads_publicidad li{font-size:10px;padding:10px;margin-bottom:5px;background:#faebd7;}
#main #centro #tabla_publicidad #tabla_publicidad_lista #uploads_publicidad li span{margin:0px 0px 0px 12px;font-weight:bold;}
#main #centro #tabla_publicidad #tabla_publicidad_lista #uploads_publicidad .par{}

@media screen and (max-width:1170px){
	#main{width:94%;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	#main #centro{width:100%;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	}

@media screen and (max-width:800px){
	#main #col_01{width:100%;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	#main #col_02{width:100%;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	#main #centro #tabla_noticias_01 #tabla_lista_01 .titulo{width:64%;}
	#main #centro #tabla_noticias_01 #tabla_lista_01 .autor{display:none;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	}

@media screen and (max-width:630px){
	#login_box{width:100%;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	#login_box .login_logo{width:40%;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	#login_box .login_logo img{width:100%;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	#login_box .login_inputs{width:50%;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	#main #menu .menu_big{display:none;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	#main #menu .menu_movil{display:block;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	#main #centro #tabla_noticias_01 #tabla_lista_01{font-size:10px;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
#main #centro #tabla_noticias_01 #tabla_lista_01 h2{font-size:12px;
		transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
	}

